<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osgverse.demoapp"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name=".SDLActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="com.osgverse.demoapp.MainActivity"
            android:label="@string/title_activity_main"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
